[submodule "foundry-f23/lib/forge-std"]
	path = foundry-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/foundry-fund-me-f23/lib/forge-std"]
	path = foundry-f23/foundry-fund-me-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/foundry-fund-me-f23/lib/chainlink-brownie-contracts"]
	path = foundry-f23/foundry-fund-me-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-f23/foundry-fund-me-f23/lib/foundry-devops"]
	path = foundry-f23/foundry-fund-me-f23/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-f23/foundry-smart-contract-lottery/lib/forge-std"]
	path = foundry-f23/foundry-smart-contract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-f23/foundry-smart-contract-lottery/lib/chainlink"]
	path = foundry-f23/foundry-smart-contract-lottery/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "foundry-f23/foundry-smart-contract-lottery/lib/chainlink-brownie-contracts"]
	path = foundry-f23/foundry-smart-contract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-nft/lib/forge-std"]
	path = foundry-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-nft/lib/openzeppelin-contracts"]
	path = foundry-nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-nft/lib/foundry-devops"]
	path = foundry-nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
